.list {
    padding-left: 40px;
    display: table;
    margin-right: 30px;
}

.education-title {
    font-size: 1.5em;
    padding-top: 25px;
    font-weight: 700;
}

.education-background {
    background: steelblue;
    border-radius: 25px;
    padding-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}