.skill-list {
    margin-top: 20px;
    column-count: 2;
}

.skill-list-item {
    display: table;
    font-weight: 600;
    margin-left: 40px;
}

.skill-title {
    text-decoration: underline;
    font-size: 1.6em;
    padding-top: 25px;
    font-weight: 800;
}

.skill-body {
    background: gray;
    border-radius: 25px;
    padding-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
